body{
	margin: 0px;
	padding: 0px;
	font-family: "Proxima Nova";
	background-color: #f1f1f1;
}
@font-face {font-family: "Proxima Nova";
  src: url("customFont/bf9f5d50c1b928ff21436517a1a95ad9.eot"); /* IE9*/
  src: url("customFont/bf9f5d50c1b928ff21436517a1a95ad9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("customFont/bf9f5d50c1b928ff21436517a1a95ad9.woff2") format("woff2"), /* chrome、firefox */
  url("customFont/bf9f5d50c1b928ff21436517a1a95ad9.woff") format("woff"), /* chrome、firefox */
  url("customFont/bf9f5d50c1b928ff21436517a1a95ad9.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("customFont/bf9f5d50c1b928ff21436517a1a95ad9.svg#Proxima Nova") format("svg"); /* iOS 4.1- */
}
*{
	box-sizing: border-box;
	font-family: neusa-next-std, sans-serif;
	font-weight: 300;
}
.outerWrapper{
	width: 100vw;
	height: 100vh;
	position: relative;
	top: 0;
	left: 0;
	background-color: #f1f1f1;
}
.flexBox{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
}
.topBar{
	background-color: #334559;
	width: 100%;
	height: 50px;
}
.contentArea{
	width: 100%;
	height: calc(100% - 80px);
}
.mainContent{
	width: 85%;
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	padding: 20px;
}
.titleComp{
	width: 15%;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #fff;
	letter-spacing: 4px;
	margin-right: auto;
}
.titleComp > img{
	height: 40%;
	transition: all .3s;
}
.menuSpinner{
	width: 50px;
	height: 100%;
	display: none;
}
.userSection{
	width: auto;
	height: 100%;
	justify-content: center;
	align-items: center;
	padding-right: 20px;
	color: #fff;
	font-size: 15px;
	line-height: 1;
}
.sideMenu{
	width: 15%;
	background-color: #293a4d;
	padding-top: 10px;
}
.sideMenu ul{
	padding: 0px;
	list-style: none;	width: 100%;
	margin-right: 0px;
}
.sideMenu ul li a{
	padding: 10px 20px;
	color: rgba(255,255,255,.6);
	font-size: 15px;
	display: block;
	text-decoration: none;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	justify-content: flex-start;
	align-items: center;
	transition: all .3s;
	font-weight: 400;
	text-transform: uppercase;
}
.sideMenu ul li a:hover, .sideMenu ul li a:focus{
	box-shadow: 4px 0px 0px #e84118 inset;
	background-color: rgba(0,0,0,.2);
}
.sideMenu ul li a img{
	width: 20px;
	height: 20px;
	margin-right: 20px;
}
.bottomBar{
	width: 100%;
	height: 30px;
	background-color: #223142;
}
.bottomBar{
	align-items: center;
	justify-content: center;
}
.bottomBar a{
	padding-left: 20px;
	text-decoration: none;
	color: rgba(255,255,255,.3);
	font-size: 13px;
}

/*July 20 Style*/
.pageMainTitle{
	font-size: 21px;
	font-weight: 500;
	color: #293a4d;
	text-align: left;
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 10px;
	text-shadow: 1px 1px 3px rgba(0,0,0,.1);
	margin-top: 0px;
	align-items: center;
}
.customRow{
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	padding:.625rem 0;
	flex-wrap: wrap;
	padding-bottom: 20px;
}
.ccWrap{
	width: 24%;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	align-items: center;
	flex-direction: column;
	margin-right: calc(4% / 3);
	padding: 10px 0px;
}
.ccWrap:nth-child(4n){
	margin-right: 0px;
}
.ccLabel{
	width: 100%;
	padding-right: 5px;
}
.ccInput{
	width: 100%;
}
.ccInput input[type="text"], .ccInput select{
	width: 100%;
}
.tilePreview{
	width: 100%;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
}
.tileBox{
	width: 19%;
	background-color: #fff;
	position: relative;
	cursor: pointer;
	margin-right: calc(5% / 4);
	border-radius: 6px;
}
.tileBox:nth-child(5n){
	margin-right: 0px;
}
.tileIcon{
	width: 80px;
	background-color: #f1f1f1;
	height: 80px;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	border-radius: 0px 10px 10px 0px;
	box-shadow: -3px 0px 5px rgba(0,0,0,.1) inset;
	
	margin: 10px 0px;
	transition: all .3s;
}
.tileBox:hover .tileIcon{
	background-color: a(1);
}
.tileIcon i{
	transition: all .3s;
	text-shadow: 0px 0px 4px rgba(0,0,0,.2);
	color: #fff;
}
.tileBox:hover .tileIcon i{
	margin-left: 10px;
}
.tileContent{
	align-items: center;
	justify-content: center;
	width: calc(100% - 80px);
	flex-direction: column;
	line-height: 1.2;
}
.tileContent label{
	font-size: 19px;
	font-weight: 400;
	margin-bottom: 0px;
}
.tileCounter{
	justify-content: center;
	align-items: center;
	font-size: 33px;
	border-radius: 10px 0px 0px 10px;
	transition: all .3s;
	font-weight: 600;
	color: #333;
}
.tileOrange .tileIcon{
	background-color: rgba(249,202,36,.3);
}
.tileOrange .tileCounter{
	color: #f9ca24;
}
.tileOrange:hover .tileIcon{
	background-color: rgba(249,202,36,1);
}
.tileBlue .tileIcon{
	background-color: rgba(34,167,240,.3);
}
.tileBlue .tileCounter{
	color: rgba(34,167,240,1);
}
.tileBlue:hover .tileIcon{
	background-color: rgba(34,167,240,1);
}
.tileGreen .tileIcon{
	background-color: rgba(38,166,91,.3);
}
.tileGreen:hover .tileIcon{
	background-color: rgba(38,166,91,1);
}
.tileGreen .tileCounter{
	color: rgba(38,166,91,1);
}
.tileRed .tileIcon{
	background-color: rgba(242,38,19,.3);
}
.tileRed .tileCounter{
	color: rgba(242,38,19,1);
}
.tileRed:hover .tileIcon{
	background-color: rgba(242,38,19,1);
}
.tileGrey .tileIcon{
	background-color: rgba(149,165,166,.3);
}
.tileGrey .tileCounter{
	color: rgba(149,165,166,1);
}
.tileGrey:hover .tileIcon{
	background-color: rgba(149,165,166,1);
}
.customContainer{
	padding-top: 20px;
}
.customContainer .container-fluid{
	
}
.ccHeader{
	border-bottom: 1px dashed rgba(0,0,0,.1);
}
.row > div{
	font-size: 14px;
	font-weight: 400;
	color: #6C7A89;
	padding-top: 10px;
}
.ccHeader > div{
	font-size: 15px;
	font-weight: 500;
	color: #95A5A6;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 0px;
}
.ccBtn{
	background-color: #fbc531;
	font-size: 15px;
	color: #293a4d;
	border-radius:20px;
	border:none;
	margin-left: auto;
	padding: 10px 20px 8px 20px;
	font-weight: 500;
}
.ccBtn:focus{
	outline: none;
}
@media only screen and (max-width:768px){
	.userSection{
		display: none;
	}
	.titleComp{
		width: 40%;
	}
	.titleComp > img{
		width: 100%;
		height: auto;
	}
	.menuSpinner{
		display: flex;
		background-color: rgba(0,0,0,.3);
		margin-right: 10px;
	}
	.sideMenu{
		position: absolute;
		left: 0px;
		bottom: 0px;
		height: calc(100% - 50px);
		width: 60%;
		display: none;
		z-index: 9;
	}
	.mainContent{
		width: 100%;
		padding: 10px;
	}
	.tilePreview{
		flex-wrap: wrap;
	}
	.tileBox{
		width: 31%;
		margin-right: 3.5%;
		margin-bottom: 10px;
	}
	.tileBox:nth-child(3){
		margin-right: 0px;
	}
	.tileBox:nth-child(5){
		margin-right: auto;
	}
	.tileIcon{
		width: 40px;
		height: 40px;
		font-size: 22px;
	}
	.tileContent{
		width: calc(100% - 40px);
	}
	.tileContent label{
		font-size: 13px;
	}
	.tileCounter{
		font-size: 23px;
	}
	.ccWrap{
		width: 48%;
	}
}
